button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #132034;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    flex: 3;
    border-right: 1px solid #1e997b;
}

.main {
    flex: 9;
}

.logo {
    margin-right: 10px;
}

.brand {
    font-size: 2rem;
}

.upperSide {
    padding: 2.5rem;
    border-bottom: #1e997b 2px solid;
    height: 70%;
}

.upperSideTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.addBtn {
    height: 2rem;
    padding-right: 1rem;
}

.midBtn {
    background-color: #132034;
    border: 1px solid #1e997b;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 570;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}

.midBtn:hover {
    background-color: #1e997b;
    color: white;
    transition: ease all 0.2s;
    color: #132034;
    font-weight: bolder;
}

.query {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid #1e997b;
    color: white;
    font-size: 1.5rem;
    font-weight: 570;
}

.query:hover {
    background-color: #1e997b;
    color: white;
    transition: ease all 0.2s;
    color: #132034;
    font-weight: bolder;
}

.query>img {
    margin-right: 2rem;
    object-fit: cover;
    height: 1.75rem;
}

.lowerSide {
    padding: 2rem;
}

.listItems {
    margin: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    color: #1e997b;
    border-radius: 5px;
    cursor: pointer;
}

.listItems:hover {
    background-color: #1e997b;
    color: white;
    transition: ease all 0.2s;
    color: #132034;
    font-weight: bolder;
}

.listItems>img {
    margin: 1rem;
    padding-right: 1.50rem;
}

.listItems:nth-child(1)>img {
    margin-right: 0.5rem;
}

.listItems:nth-child(3)>img {
    margin-right: 0.75rem;
}









