button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #132034;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    flex: 3;
    border-right: 2px solid #1e997b;
}

.main {
    flex: 9;
}

.logo {
    margin-right: 10px;
}

.brand {
    font-size: 2rem;
}

.upperSide {
    padding: 2.5rem;
    border-bottom: #1e997b 2px solid;
    height: 70%;
}

.upperSideTop {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.addBtn {
    height: 2rem;
    padding-right: 1rem;
}

.midBtn {
    background-color: #132034;
    border: 2px solid #1e997b;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 570;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}

.midBtn:hover {
    background-color: #1e997b;
    color: white;
    transition: ease-in-out 0.3s;
    color: #132034;
    font-weight: bolder;
}